/* Search web for Japanese typography properties/mixed-language page practices */

/*CSS reset to remove awkward blank margins around page*/

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Roboto Mono;
}

/* Left navbar properties */

#navbar {
    height: 100%;
    width: 200px;
    background-color: #111;
    position: fixed;
}

@media (max-width: 400px) {
    #navbar {
        max-width: 30%;
    }
}

#navbar header {
    font-size: 1.25rem;
    font-weight: 800;
    color: skyblue;
    padding: 10px;
    border: 2px solid skyblue;
}

#navbar a {
    color: skyblue;
    display: block;
    padding: 10px;
    text-decoration: none;
    border: 1px solid skyblue;
}

/* Main content */

#main-doc {
    margin-left: 200px;
    padding: 10px;
    font-size: 1.2rem;
}

p, ul, li, h2 {
    padding: 0.5rem;
    max-width: 75%;
    line-height: 1.75rem;
}

li:lang(ja-jp) {
    font-family: Osaka;
}

section {
    padding: 1rem;
}

ul {
    padding: 10px;
}

li {
  padding: 5px 10px;
  list-style-type: disc;
}

.note {
    border-left: 0.25rem solid #348feb;
    background-color: #DDDDDD
}

.main-section header {
    font-weight: 800;
    font-size: 1.5rem;
    padding: 10px;
}

.main-section header code {
    font-size: 1.25rem;
}


code {
  background-color: #D3D3D3;
  display: block;
  margin: 0.5rem 2rem;
  font-family: monospace;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 1rem;
}

.kana {
    color: black;
    display: inline;
    margin: 0;
    padding: 0;
    background-color: inherit;
    font-family: Sawarabi Mincho, monospace;
    font-size: 1.1rem;
}

.inline-code {
    color: black;
    display: inline;
    margin: 0;
    padding: 0;
    background-color: inherit;
    font-weight: 600;
    font-family: Sawarabi Mincho, monospace;
    font-size: 1.1rem;
}

a:active {
    color: blue;
}

a:visited {
    color: blue;
}

.vocab-container {
    border: 2px solid black;
    margin: 1.5rem 0;
}

.vocab-container li {
    list-style-type: none;
}

/* Footer properties */

footer {
    background-color: #D3D3D3;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    margin: 0;
}