/*CSS reset to remove awkward blank margins around page*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: sans;
}

/* Left navbar properties */

#navbar {
    height: 100%;
    width: 200px;
    background-color: #111;
    position: fixed;
}

#navbar header {
    font-size: 1.25em;
    font-weight: 800;
    color: skyblue;
    padding: 10px;
    border: 1px solid skyblue;
}

#navbar a {
    color: skyblue;
    display: block;
    padding: 10px;
    text-decoration: none;
    border: 1px solid skyblue;
}

#main-doc {
    margin-left: 200px;
    padding: 10px;
}

section, p, li, h2 {
    padding: 10px;
  max-width: 75%;
  line-height: 1.5em;
}

li {
  padding: 5px 10px;
}

.main-section header {
    font-weight: 800;
    font-size: 1.5em;
    padding: 10px;
}


code {
    background-color: #999;
  display: block;
  margin-left: 5%;
}

a:active {
    color: blue;
}

a:visited {
    color: blue;
}

.note {
  border: 2px dotted black;
  margin-top: 10px;
}