/*CSS reset to remove awkward blank margins around page*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Roboto;
}

/* Left navbar properties */

#navbar {
    height: 100%;
    width: 200px;
    background-color: #111;
    position: fixed;
}

@media (max-width: 400px) {
    #navbar {
        max-width: 30%;
    }
}

#navbar header {
    font-size: 1.25em;
    font-weight: 800;
    color: skyblue;
    padding: 10px;
    border: 2px solid skyblue;
}

#navbar a {
    font-size: 1em;
    color: skyblue;
    display: block;
    padding: 10px;
    text-decoration: none;
    border: 1px solid skyblue;
}

/* Main content */

#main-doc {
    margin-left: 200px;
    padding: 10px;
}

section, p, li, h2 {
    padding: 10px;
  max-width: 75%;
  line-height: 1.5em;
}

ul {
    padding: 10px;
}

li {
  padding: 5px 10px;
  list-style-type: disc;
}

.main-section header {
    font-weight: 800;
    font-size: 1.5em;
    padding: 10px;
}


code {
  background-color: #D3D3D3;
  display: block;
  margin-left: 2em;
}

a:active {
    color: blue;
}

a:visited {
    color: blue;
}

.note {
  border: 2px dotted black;
  margin-top: 10px;
}

/* Footer properties */

footer {
    background-color: #D3D3D3;
    text-align: center;
    padding: 1.5em;
    width: 100%;
    margin: 0;
}